body {
  font-family: Roboto, sans-serif;
  color: rgb(59, 57, 57);
  background-color: rgb(231, 228, 228);
  margin: 100px;
}

.todoList-container {
  display: relative;
  width: 400px;
  height: 550px;
  /* border: 2px solid rgb(231, 228, 228); */
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 25px 25px 75px rgb(255, 255, 255, 0.25),
  10px 10px 70px rgb(255, 255, 255, 0.25),
  inset 5px 5px 10px rgb(255, 255, 255, 0.2),
  inset 5px 5px 10px rgb(255, 255, 255, 0.5),
  inset -5px -5px 15px rgb(0, 0, 0, 0.2);
}

h1 {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.todo__grid, .todo__input__grid {
  display: grid;
  grid-template-columns: 250px 140px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo__grid {
  margin-left: 2px;
}

.todo__input__grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.task__input {
  font-size: 15px;
  padding: 6px;
  color: rgb(118, 116, 116);
  background-color: rgb(231, 228, 228);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
}

.task {
  border: 1px solid rgb(59, 57, 57);
  border-radius: 4px;
  padding: 6px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.add__todo-btn {
  background-color: rgb(12, 250, 147);
  color: rgb(59, 58, 58);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.delete__todo-btn {
  background-color: rgb(251, 107, 196);
  color: rgb(41, 40, 40);
  border: none;
  font-size: 15px;
  padding: 8px;
  border-radius: 4px;
}

/* Mobile Styles */
@media (max-width: 600px) {
 .todo__input__grid {
    grid-template-columns: 1fr;
  }

  .todo__grid {
    grid-template-columns: 1fr 1fr;
  }

  .task__input, .add__todo-btn {
    font-size: 14px;
    padding: 10px;
  }

  .delete__todo-btn {
    font-size: 14px;
    padding: 10px 5px;
    /* background-color: transparent; */
  }

  .add__todo-btn {
    width: 100%;
  }

  .delete__todo-btn {
    width: 50%;
    justify-self: end;
  }
}